.bg-success {
  background-color: #5fcf80!important;
}

.btn-outline-success {
  color: #5fcf80;
  border-color: #5fcf80;
}

.btn-outline-success:hover {
  background-color: #5fcf80;
  border-color: #5fcf80;
}

#treehouse-logo {
  width: 35px;
}

.avatar {
  height: 200px;
  border-radius: 50%;
}

.recent-badge-image {
  width: 80px;
}

.badge-image {
  width: 110px;
  animation: spinHorizontal 2s infinite linear;
}

.card {
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

.topic-card {
  border-bottom: 6px #5fcf80 solid;
}

.course-title {
  height: 85px;
  border-bottom: 6px #5fcf80 solid;
}

.course-link {
  color: #666;
}

.course-link .card {
  transition: background .2s;
}

.course-link:hover {
  color: #fff;
  text-decoration: none;
}

.course-link:hover .card {
  background: #6c757d;
}

@keyframes spinHorizontal {
  0% { transform: rotateY(0deg); }
  25% { transform: rotateY(45deg); }
  50% { transform: rotateY(0deg); }
  75% { transform: rotateY(-45deg); }
  100% { transform: rotateY(0deg); }
}

.perspective {
  perspective: 80px;
}