.bg-success {
  background-color: #5fcf80!important;
}

#treehouse-logo {
  width: 35px;
}

.avatar {
  height: 200px;
  border-radius: 50%;
}

.card {
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}